.user {
  display: flex;
  flex-direction: column;
}

.user__header {
  padding: 10px;
  font-weight: 800;
  border-bottom: 2px solid whitesmoke;
}

.user__headerInput {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.user__headerInputSearch {
  padding-right: 30px !important;
}

.user__headerInputSelect {
  margin-left: -15px !important;
  padding-left: 50px !important;
  height: 40px !important;
  text-align: center !important;
}

.user__searchReset {
  margin-left: 10px !important;
  margin-top: 1px !important;
}

.user__addUser {
  border: none !important;
  outline: none !important;
  color: white !important;
  background-color: rgb(16, 185, 241) !important;
}

.user__exportButton {
  width: 8rem;  
  border: none !important;
  outline: none !important;
  color: white !important;
  background-color: rgb(27, 187, 27) !important;
  margin-left: 20px !important;
}

.user__data{
    padding: 20px !important;
}
